<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
<h1>We'll be right back!</h1>
<p>The page you're trying to access is being updated.</p>
</body>
</html>